        /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}


.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-auto-big{
    max-width: 1200px;
    margin: 0 auto;
}

.margin-auto-small{
    max-width: 1050px;
    margin: 0 auto;
}

.centure-top-big{
    padding-top: 150px;
    padding-bottom: 150px;
}


.flex-centered{
    align-items: center;
}

.text-white{
    color: white;
}

.text-left{
    text-align: left;
}

.text-small{
    font-size: 0.95rem;
}

.text-medium{
    font-size: 1.5rem;
}

.text-bold{
    font-weight: bold;
}

.btn{
    border: none;
    padding: .5rem 1rem;
}

.color-btn-blue{
    background-color: #0060ff;
}

header{
    background-color: #96c7f0;
    height: 750px;
}

header > nav{
    background-color: white;
    padding: 1.5rem;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

header > nav  ul li , header > nav button{
    margin-left: 2.2rem;
}

header > nav ul li a{
    text-decoration: none;
    color: black;
}

header > div.jumbotron {
    padding-top: 2.5rem;
}

header > div.jumbotron h1.title-jumbo{
    font-size: 5rem;
}

header > div.jumbotron > div.flexed-jumbo{
    margin-top: 2rem;
}

header > div.jumbotron > div.flexed-jumbo div.text{
    width: 30%;
    padding-bottom: 7.5rem;
}

header > div.jumbotron > div.flexed-jumbo div.image{
    width: 70%;
}

header > div.jumbotron > div.flexed-jumbo div.text button{
    margin: 3rem 0  ;
}

header > div.jumbotron > div.flexed-jumbo div.text i{
    font-size: 3rem;
    margin-top: 1.5rem;
}

div.image img{
    width: 100%;
}

main h2{
    font-size:2.5rem;
    margin-bottom:2.5rem;
}

main > section.plans div.button-radio{
    position: relative;
}

main > section.plans div.button-radio input{
    margin-right: 5px;
}
main > section.plans div.button-radio span{
    margin-right: 30px;
}

.container-plans{
    margin-top: 2.5rem;
}

.container-plans > div.plan{
    border: 1px solid #ccc;
    width: calc(100% / 3 - 40px);
}

.container-plans > div.plan:nth-child(2){
    margin: 0 40px;
}

.container-plans > div.plan div.header-plan{
    border-bottom: 1px solid #ccc;
    padding: .5rem;
    justify-content: center;
}

.container-plans > div.plan div.main-plan{
    padding: 2rem 1.5rem;
}

.container-plans > div.plan div.main-plan div{
    margin-bottom: 1.5rem;
}

.container-plans > div.plan div.main-plan div.type{
    line-height: 2.5rem;
}

.container-plans > div.plan.gs div.main-plan button{
    margin: 1.5rem 0;
}

.container-plans > div.plan div.main-plan div.type p.month{
    color: gray;
}

.container-plans > div.plan div.main-plan div.bar{
    background-color: #ccc;
    height: 2px;
    width: 20%;
    margin: 2.3rem 0;
}   

.container-plans > div.plan div.main-plan h4{
    margin-bottom: 1.5rem;
}

.container-plans > div.plan  i{
    margin-right: 3px;
}

.container-plans > div.plan div.main-plan div.vantage i{
    color:  #005eff;
}

.container-plans > div.plan.bottom-plan{
    width: 100%;
    margin-top:3.5rem ;
}

div.plan.bottom-plan > div.main-plan{
    padding-top: 1.2rem;
    padding-bottom: .5rem;
}

div.plan.bottom-plan > div.main-plan div.type{
    width: 70%;
}

div.plan.bottom-plan > div.main-plan div.button-end{
    width: 30%;
    justify-content: end;
    margin: 0;
    align-items: start;
}

section.partner > div.image{
    width: 60%;
}

section.partner > div.description{
    width: 40%;
    padding-left: 3.5rem;
    margin-top: 2rem;
}

section.partner > div.description > button.btn{
    border: 1px solid black;
    background-color: white;
    font-size: 1.2rem;
}

section.partner > div.description > p{
    margin: 1rem 0;
}

section.operation div.container-operation{
    justify-content: space-between;
}

section.operation div.operation{
    width: calc(100% / 3 - 20px);
    margin-bottom: 1.5rem;
}

div.operation:nth-child(2) , div.operation:nth-child(5){
    margin: 0 20;
} 

section.number-team > div.container-h2{
    width: 60%;
}