        /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.margin-auto-big{
    max-width: 1200px;
    margin: 0 auto;
}

.flex-centered{
    align-items: center;
}

.text-white{
    color: white;
}

.text-left{
    text-align: left;
}

.btn{
    border: none;
    padding: .5rem 1rem;
}

.color-btn-blue{
    background-color: #0060ff;
}

header{
    background-color: #b4d0e7;
    height: 750px;
}

header > nav{
    background-color: white;
    padding: 1.5rem;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

header > nav  ul li , header > nav button{
    margin-left: 2.2rem;
}

header > nav ul li a{
    text-decoration: none;
    color: black;
}

header > div.jumbotron {
    padding-top: 2.5rem;
}

header > div.jumbotron h1.title-jumbo{
    font-size: 5rem;
}

header > div.jumbotron > div.flexed-jumbo{
    margin-top: 2rem;
}

header > div.jumbotron > div.flexed-jumbo div.text{
    width: 30%;
    padding-bottom: 7.5rem;
}

header > div.jumbotron > div.flexed-jumbo div.image{
    width: 70%;
}

header > div.jumbotron > div.flexed-jumbo div.text button{
    margin: 3rem 0  ;
}

header > div.jumbotron > div.flexed-jumbo div.text i{
    font-size: 3rem;
    margin-top: 1.5rem;
}

header > div.jumbotron > div.flexed-jumbo div.image img{
    width: 100%;
}